{% set endpoint = props.get('endpointPath') %}
<Chart
  name="{{ common.name }}"
  url="{{ endpoint }}"
  values={{ props.get('values') | tojson }}
  {%- if props.get('xField') %}
  xField={{ props.get('xField') | tojson }}
  {%- endif %}
  {%- if props.get('yField') %}
  yField={{ props.get('yField') | tojson }}
  {%- endif %}
  {%- if props.get('seriesLabels') %}
  seriesLabels={{ "{" }}{{ props.get('seriesLabels') | tojson }}{{ "}" }}
  {%- endif %}
  {%- if props.get('xLabel') %}
  xLabel={{ props.get('xLabel') | tojson }}
  {%- endif %}
  {%- if props.get('yLabel') %}
  yLabel={{ props.get('yLabel') | tojson }}
  {%- endif %}
  {%- if props.get('refreshMs') %}
  refreshMs={{ props.get('refreshMs') }}
  {%- endif %}
  {%- if props.get('windowSize') %}
  windowSize={{ props.get('windowSize') }}
  {%- endif %}
  {%- if props.get('height') %}
  height={{ props.get('height') }}
  {%- endif %}
>
</Chart>
