{% set endpoint = props.get('endpointPath') %}
{% set wsUrl = props.get('wsUrl') %}
{% set wsParams = props.get('wsParams', []) %}
<EntityCard
  name="{{ common.name }}"
  {%- if wsUrl %}
  wsUrl="{{ wsUrl }}"
  {%- if wsParams %}
  wsParams={{ "{" }}{{ wsParams | tojson }}{{ "}" }}
  {%- endif %}
  {%- else %}
  url="{{ endpoint }}"
  {%- endif %}
  fields={{ "{" }}{{ props.get('fields') | tojson }}{{ "}" }}
  {%- if props.get('title') %}
  title={{ props.get('title') | tojson }}
  {%- endif %}
  {%- if props.get('highlight') %}
  highlight={{ props.get('highlight') | tojson }}
  {%- endif %}
  {%- if props.get('refreshMs') and not wsUrl %}
  refreshMs={{ props.get('refreshMs') }}
  {%- endif %}
  {%- if props.get('operations') %}
  operations={{ "{" }}{{ props.get('operations') | tojson }}{{ "}" }}
  {%- endif %}
  {%- if props.get('readonlyFields') %}
  readonlyFields={{ "{" }}{{ props.get('readonlyFields') | tojson }}{{ "}" }}
  {%- endif %}
>
</EntityCard>
