{% set endpoint    = props.get('endpointPath') %}
{% set ws_endpoint = props.get('streamPath') %}
<LineChart
  name="{{ common.name }}"
  {%- if endpoint %}
  url="{{ endpoint }}"
  {%- endif %}
  {%- if endpoint %}
  wsUrl="{{ ws_endpoint }}"
  {%- endif %}
  {%- if props.get('seriesLabels') %}
  seriesLabels={{ "{" }}{{ props.get('seriesLabels') | tojson }}{{ "}" }}
  {%- endif %}
  {%- if props.get('xLabel') %}
  xLabel="{{ props.get('xLabel') }}"
  {%- endif %}
  {%- if props.get('yLabel') %}
  yLabel="{{ props.get('yLabel') }}"
  {%- endif %}
  {%- if props.get('refreshMs') %}
  refreshMs={{ props.get('refreshMs') }}
  {%- endif %}
  {%- if props.get('windowSize') %}
  windowSize={{ props.get('windowSize') }}
  {%- endif %}
  {%- if props.get('height') %}
  height={{ props.get('height') }}
  {%- endif %}
>
</LineChart>
