<LiveView
  name="{{ common.name }}"
  streamPath="{{ props.get('streamPath') }}"
  fields={{ "{" }}{{ props.get('fields') | tojson }}{{ "}" }}
  label="{{ props.get('label') or '' }}"
  maxMessages={{ props.get('maxMessages') }}
/>