{# 
  props.fields: list of field names to display, e.g. ["id","name","price"]
  props.endpointPath: the bound APIEndpoint<REST> endpoint (may include {param})
  props.label: optional title
#}

<ObjectView
  name="{{ common.name }}"
  url="{{ props.get('endpointPath') }}"
  fields={{ "{" }}{{ props.get('fields') | tojson }}{{ "}" }}
  label="{{ props.get('label', common.name) }}"
/>
