{# components/OrderTimeline.jinja #}
{% set wsUrl = props.get('wsUrl') %}
<OrderTimeline
  wsUrl="{{ wsUrl }}"
  {%- if props.get('title') %}
  title={{ props.get('title') | tojson }}
  {%- endif %}
/>
