{# components/Toggle.jinja #}
<Toggle
    name="{{ common.name }}"
    url="{{ props.get('endpointPath') }}"
    field="{{ props.get('field') }}"
    label="{{ props.get('label') or props.get('field') }}"
    {% if props.get('refreshMs') %}
    refreshMs={{ props.get('refreshMs') }}
    {% endif %}
/>