{#
  props.fields: list of field names to display, e.g. ["id","name","price"]
  props.endpoint: the base APIEndpoint<REST> URL (e.g. "/api/objects")
  props.pathParams: list of path parameter names extracted from URL
  props.queryParams: list of query parameter names from the endpoint
  props.label: optional title
#}

<ObjectView
  name="{{ common.name }}"
  endpoint={{ "{" }}{{ props.get('endpoint') | tojson }}{{ "}" }}
  pathParams={{ "{" }}{{ props.get('pathParams', []) | tojson }}{{ "}" }}
  queryParams={{ "{" }}{{ props.get('queryParams', []) | tojson }}{{ "}" }}
  fields={{ "{" }}{{ props.get('fields') | tojson }}{{ "}" }}
  label="{{ props.get('label', common.name) }}"
/>
